:root {
    font-size: 16px;
}
body{
	margin: 0;
}
.header{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 50px;
	position: fixed;
	background: rgb(0,0,0);
    background: rgba(0,0,0, 0.3);
}
.myContainer{
	display: flex;
	flex-wrap: wrap;
	background-color: #000000;
	width: 100%;
	height: 600px;

}

.bgImage{
	background-image: url("IMG_20180527_172824162_HDR2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	background-position: right 0;
	
    
}
.myFont{
	margin-top: 20vh;
	font-size:2.5em;
	margin-left: 15vw;
	color: white;
	font-family:Verdana;
	line-height: 2;
	font-weight: bold;
	 text-shadow: 2px 2px 4px #545454;

}
.myFontHeading{
	margin-top: 10px;
	font-size:1.25rem;
	color: orange;
	font-family:Verdana;

}


.myFontHeading1{
	margin-top: 10px;
	font-size:1.25rem;
	color: black;
	font-family:Verdana;
	text-decoration: underline;

}
.myFontText{
	text-align: center;
	line-height:2;
	margin-right:auto;
	margin-left: auto;
	width: 70%;
}


.space{
	margin-top: 10vh;
}

.image1{
	display: flex;
	flex-wrap: wrap;
	width: 50rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 50rem;



   
}
.imageSet{
	
}

.im1{
		background-image: url("java.png");
		background-size: cover;
	    background-repeat: no-repeat;
        height: auto;

	}
	.im2{
		background-image: url("js.png");
		background-size: cover;
	    background-repeat: no-repeat;
	   height: auto;
	}
	.im3{
		background-image: url(C.png);
		background-size: cover;
	    background-repeat: no-repeat;
	    height: auto;
	}
	.im4{
		background-image: url("android.png");
		background-size: cover;
	    background-repeat: no-repeat;
	    height: auto;
	}

@media screen and (min-width: 768px){
	.bgImage {
		background-position: right 0;
	}

}

@media screen and (min-width: 280px) and (max-width: 600px) {


    .bgImage {
       background-image: url("img2.png");

    }
    .myFont{
    	margin-top: 30vh;
    	font-size: 1.3rem
    }
}

@media screen and (min-width: 768px) {





    .im1 {
        width: 50%;
     }
    .im2{
        width: 50%;
        
    }
    .im3 {

        width: 50%;
    }
    .im4{
        width: 50%;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {

	.image1{
		width: 20rem;
		height: 80rem;
	}


    .im1{

        width: 100%;
        
    }
    .im2{

        width: 100%;
        
    }
    .im3{

        width: 100%;
    }
    .im4{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
	.image1{
		width: 17rem;
		height: 68rem;
	}



    .im1{
        width: 100%;
    }
    .im2{
        width: 100%;
    }
    .im3{
        width: 100%;
    }
    .im4{
        width: 100%;
    }
}